<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css"> <!-- to connect to style css -->
    <title>Welcome Page</title>
</head>
<body>
    <!-- haloo -->
    <header>
        <h1>Welcome to our website!</h1>
    </header>
    <main>
      <div class="auth-links"> 
            <a href="{{ url_for('login') }}" class="button primary-button">Login</a> 
            <a href="{{ url_for('register') }}" class="button primary-button">Register</a>
        </div>
    </main>

    <img src="https://pngimg.com/uploads/shrek/shrek_PNG37.png" alt="rola's surprise" class="sxc">

    <footer>
        <p>&copy; Group 3 Laboratory B</p>
    </footer>

</body>
</html>