<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css" /> 
    <link rel="stylesheet" href="../static/css/regis.css" /> 
</head>
<body>
    <!-- header added into html by nathan -->
    <header> 
        <h1>Register</h1>
    </header>

    <main>
        <fieldset>
            <legend>Create new account</legend>
            
            <form>
                <label for="fullname">Full Name</label>
                <input type="text" id="fullname" required>

                <label for="email">Email</label>
                <input type="email" id="email" placeholder="you@example.com" required>

                <label for="password">Password</label>
                <input type="password" id="password" required>

                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" required>

                <button type="submit">Create Account</button>
            </form>
        </fieldset>
    
    

        <br>
        <a href="#">Already have an account? Login</a><br><br>
        <a href="#">Back to Home</a>
    </main>
</body>
</html>